<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charse='UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, </h1>
    <p>
      Welcome to Pack Tracker!
    </p>
    <p>
      To login to the site, just follow this link <%= link %>.
    </p>
  </body>
</html>