<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8">
		<title>Conforming HTML 4.01 Strict Template</title>
	</head>

	<body>
		<table style="display: inline-block; border: 1px solid; float: left; ">
		<tr>
			<td>1-11</td>
			<td>1-12</td>
		</tr>
		<tr>
			<td>1-21</td>
			<td>1-22</td>
		</tr>
		</table>

		<table style="display: inline-block; border: 1px solid; ">
		<tr>
			<td>2-11</td>
			<td>2-12</td>
			<td>2-13</td>
		</tr>
		<tr>
			<td>2-21</td>
			<td>2-22</td>
			<td>2-23</td>
		</tr>
		<tr>
			<td>2-31</td>
			<td>2-32</td>
			<td>2-33</td>
		</tr>
		</table>
	</body>
</html>
