<h1>Your Expeditions</h1>

<% if @expeditions_future.empty? %>
  <h2>You're not signed up for any expeditions yet!</h2>
  <p><%= link_to "Create/Join a new Expedition", upcoming_expedition_path %></p>
<% else %>
  <p><%= link_to "Create/Join a new Expedition", upcoming_expedition_path %></p>
  <h3>Upcoming Expeditions</h3>
  <%= render 'list_expeditions', expeditions: @expeditions_future %>
<% end %>

<% if @expeditions_past.count > 0 %>
</br></br>
<h3>Past Expeditions</h3>
  <%= render 'list_expeditions', expeditions: @expeditions_past %>
<% end %>
