This view needs some work.  It is just listing out all the items that are
in anybodys pack.  It would need to identify which items belong to which pack.

<% PackedItem.all.each do |p| %>
<p><%= p.title %></p>
<% end %>
<%= link_to  "allocate", packer_allocate_path, method: :get %>
