<div class="col-xs-12">
   
  <h1> Welcome to Pack Tracker </h1>
    <%= link_to 'New Inventory item', new_inventory_item_path, :class => "btn btn-success", :style =>"width:15%; margin:0 auto;" %>
    <%= link_to 'Allocate', packer_allocate_path, :class => "btn btn-info", :style =>"width:15%; margin:0 auto;" %>
     <!-- <p><#%= link_to 'Allocate', packer_allocate_path %></p> -->
   
 </div>