<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html'; charse='UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <% @user.email %>, </h1>
    <p>
      Your trip is coming up.  Don't forget to bring your stuff!  Here's what you need to bring:
    </p>
    <ul>
    <% @items.each do |item| %>
      <li><%= item %></li>
    <% end %>
    </ul>
    
  </body>
</html>